In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split

### Read trip data for yellow cabs for each month in 2019

In [2]:
jan = pd.read_csv("C:/Users/jacob/OneDrive/Documents/Spring 2020/Data analytics/taxi/yellow_tripdata_2019-01.csv")

feb = pd.read_csv("C:/Users/jacob/OneDrive/Documents/Spring 2020/Data analytics/taxi/yellow_tripdata_2019-02.csv")
mar = pd.read_csv("C:/Users/jacob/OneDrive/Documents/Spring 2020/Data analytics/taxi/yellow_tripdata_2019-03.csv")

apr = pd.read_csv("C:/Users/jacob/OneDrive/Documents/Spring 2020/Data analytics/taxi/yellow_tripdata_2019-04.csv")
may = pd.read_csv("C:/Users/jacob/OneDrive/Documents/Spring 2020/Data analytics/taxi/yellow_tripdata_2019-05.csv")

jun = pd.read_csv("C:/Users/jacob/OneDrive/Documents/Spring 2020/Data analytics/taxi/yellow_tripdata_2019-06.csv")
jul = pd.read_csv("C:/Users/jacob/OneDrive/Documents/Spring 2020/Data analytics/taxi/yellow_tripdata_2019-07.csv")
aug = pd.read_csv("C:/Users/jacob/OneDrive/Documents/Spring 2020/Data analytics/taxi/yellow_tripdata_2019-08.csv")

sept = pd.read_csv("C:/Users/jacob/OneDrive/Documents/Spring 2020/Data analytics/taxi/yellow_tripdata_2019-09.csv")
oct = pd.read_csv("C:/Users/jacob/OneDrive/Documents/Spring 2020/Data analytics/taxi/yellow_tripdata_2019-10.csv")

nov = pd.read_csv("C:/Users/jacob/OneDrive/Documents/Spring 2020/Data analytics/taxi/yellow_tripdata_2019-11.csv")
dec = pd.read_csv("C:/Users/jacob/OneDrive/Documents/Spring 2020/Data analytics/taxi/yellow_tripdata_2019-12.csv")

C:\Users\jacob\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3058: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

### Put each month's data frame in a dictionary "months"

In [5]:
jan[jan.isnull().any(axis=1)]

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,1,2019-01-01 00:46:40,2019-01-01 00:53:20,1,1.50,1,N,151,239,1,7.0,0.5,0.5,1.65,0.0,0.3,9.95,NaN
1,1,2019-01-01 00:59:47,2019-01-01 01:18:59,1,2.60,1,N,239,246,1,14.0,0.5,0.5,1.00,0.0,0.3,16.30,NaN
2,2,2018-12-21 13:48:30,2018-12-21 13:52:40,3,0.00,1,N,236,236,1,4.5,0.5,0.5,0.00,0.0,0.3,5.80,NaN
3,2,2018-11-28 15:52:25,2018-11-28 15:55:45,5,0.00,1,N,193,193,2,3.5,0.5,0.5,0.00,0.0,0.3,7.55,NaN
4,2,2018-11-28 15:56:57,2018-11-28 15:58:33,5,0.00,2,N,193,193,2,52.0,0.0,0.5,0.00,0.0,0.3,55.55,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6609670,4,2019-01-27 23:05:54,2019-01-27 23:11:33,1,1.06,1,N,238,151,1,6.0,0.5,0.5,1.46,0.0,0.3,8.76,NaN
6609671,4,2019-01-27 23:18:38,2019-01-27 23:28:19,1,2.35,1,N,239,68,2,10.0,0.5,0.5,0.00,0.0,0.3,11.30,NaN
6609672,4,2019-01-27 23:29:41,2019-01-27 23:42:06,1,3.75,1,N,68,13,1,13.5,0.5,0.5,2.96,0.0,0.3,17.76,NaN
6609673,4,2019-01-27 23:44:23,2019-01-27 23:53:18,1,2.12,1,N,13,249,1,9.5,0.5,0.5,2.16,0.0,0.3,12.96,NaN
6609674,4,2019-01-27 23:56:02,2019-01-28 00:03:11,1,1.78,1,N,249,148,1,7.5,0.5,0.5,1.76,0.0,0.3,10.56,NaN

In [6]:
months = {'jan':jan, 'feb':feb, 'mar':mar, 'apr':apr, 'may':may, 'jun':jun, 
          'jul':jul, 'aug':aug, 'sept':sept, 'oct':oct, 'nov':nov, 'dec':dec}

### Create a resampling of each month that is .1% of the size of the original sampling

In [14]:
reduced_months0001 = {}
reduced_months001 = {}
reduced_months01 = {}
reduced_months1 = {}
reduced_months
for month in months:
  print("Resampling "+month)
  reduced_months0001[month], _ = train_test_split(months[month], train_size=0.0001, random_state = 101)
  print(".01 % Complete.")
  reduced_months001[month], _ = train_test_split(months[month], train_size=0.001, random_state = 101)
  print(".1 % Complete.")
  reduced_months01[month], _ = train_test_split(months[month], train_size=0.01, random_state = 101)
  print("1% Complete.")
  reduced_months1[month], _ = train_test_split(months[month], train_size=0.1, random_state = 101)
  print("10% Complete.")

Resampling jan
.01 % Complete.
.1 % Complete.
1% Complete.
10% Complete.
Resampling feb
.01 % Complete.
.1 % Complete.
1% Complete.
10% Complete.
Resampling mar
.01 % Complete.
.1 % Complete.
1% Complete.
10% Complete.
Resampling apr
.01 % Complete.
.1 % Complete.
1% Complete.
10% Complete.
Resampling may
.01 % Complete.
.1 % Complete.
1% Complete.
10% Complete.
Resampling jun
.01 % Complete.
.1 % Complete.
1% Complete.
10% Complete.
Resampling jul
.01 % Complete.
.1 % Complete.
1% Complete.
10% Complete.
Resampling aug
.01 % Complete.
.1 % Complete.
1% Complete.
10% Complete.
Resampling sept
.01 % Complete.
.1 % Complete.
1% Complete.
10% Complete.
Resampling oct
.01 % Complete.
.1 % Complete.
1% Complete.
10% Complete.
Resampling nov
.01 % Complete.
.1 % Complete.
1% Complete.
10% Complete.
Resampling dec
.01 % Complete.
.1 % Complete.
1% Complete.
10% Complete.

### Look at the number of records for each month in the original set

In [15]:
month_leng = {}
for month in months:
    month_leng[month] = len(months[month].index)

In [16]:
month_leng

{'jan': 7667792,
 'feb': 7019375,
 'mar': 7832545,
 'apr': 7433139,
 'may': 7565261,
 'jun': 6941024,
 'jul': 6310419,
 'aug': 6073357,
 'sept': 6567788,
 'oct': 7213891,
 'nov': 6878111,
 'dec': 6896317}

### Look at the number of records for each month in the .01 % reduced set

In [17]:
month_leng_red0001 = {}
for month in reduced_months0001:
    month_leng_red0001[month] = len(reduced_months0001[month].index)

In [18]:
month_leng_red0001

{'jan': 766,
 'feb': 701,
 'mar': 783,
 'apr': 743,
 'may': 756,
 'jun': 694,
 'jul': 631,
 'aug': 607,
 'sept': 656,
 'oct': 721,
 'nov': 687,
 'dec': 689}

### Look at the number of records for each month in the .1% reduced set

In [19]:
month_leng_red001 = {}
for month in reduced_months001:
    month_leng_red001[month] = len(reduced_months001[month].index)
month_leng_red001

{'jan': 7667,
 'feb': 7019,
 'mar': 7832,
 'apr': 7433,
 'may': 7565,
 'jun': 6941,
 'jul': 6310,
 'aug': 6073,
 'sept': 6567,
 'oct': 7213,
 'nov': 6878,
 'dec': 6896}

### Look at the number of records for each month in the 1% reduced set

In [20]:
month_leng_red01 = {}
for month in reduced_months01:
    month_leng_red01[month] = len(reduced_months01[month].index)
month_leng_red01

{'jan': 76677,
 'feb': 70193,
 'mar': 78325,
 'apr': 74331,
 'may': 75652,
 'jun': 69410,
 'jul': 63104,
 'aug': 60733,
 'sept': 65677,
 'oct': 72138,
 'nov': 68781,
 'dec': 68963}

### Look at the number of records for each month in the 10% reduced set

In [21]:
month_leng_red1 = {}
for month in reduced_months1:
    month_leng_red1[month] = len(reduced_months1[month].index)
month_leng_red1

{'jan': 766779,
 'feb': 701937,
 'mar': 783254,
 'apr': 743313,
 'may': 756526,
 'jun': 694102,
 'jul': 631041,
 'aug': 607335,
 'sept': 656778,
 'oct': 721389,
 'nov': 687811,
 'dec': 689631}

### Find out how many records there are for the whole year in the original data set

In [22]:
total_length = 0
for month in month_leng:
  total_length += month_leng[month]
total_length

84399019

### Number of records for the whole year in the .01% reduced data set

In [23]:
total_length_reduced0001 = 0
for month in month_leng_red0001:
  total_length_reduced0001 += month_leng_red0001[month]
total_length_reduced0001

8434

### Number of records for the whole year in the .1% reudced data set

In [24]:
total_length_reduced001 = 0
for month in month_leng_red001:
  total_length_reduced001 += month_leng_red001[month]
total_length_reduced001

84394

### Number of records for the whole year in the 1% reduced data set

In [25]:
total_length_reduced01 = 0
for month in month_leng_red01:
  total_length_reduced01 += month_leng_red01[month]
total_length_reduced01

843984

### Number of records for the whole year in the 10 % reduced data set

In [26]:
total_length_reduced1 = 0
for month in month_leng_red1:
  total_length_reduced1 += month_leng_red1[month]
total_length_reduced1

8439896