In [1]:
import boto3
import botocore
import pandas as pd
from IPython.display import display, Markdown

In [8]:
s3 = boto3.client('s3', aws_access_key_id='AKIAJZ76YW56H2VKFOPA',aws_secret_access_key='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')
s3_resource = boto3.resource('s3', aws_access_key_id='AKIAJZ76YW56H2VKFOPA',aws_secret_access_key='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')

In [10]:
def create_bucket(bucket):
    import logging

    try:
        s3.create_bucket(Bucket=bucket)
    except botocore.exceptions.ClientError as e:
        logging.error(e)
        return 'Bucket ' + bucket + ' could not be created.'
    return 'Created or already exists ' + bucket + ' bucket.'

In [13]:
def list_buckets(match=''):
    response = s3.list_buckets()
    if match:
        print(f'Existing buckets containing "{match}" string:')
    else:
        print('All existing buckets:')
    for bucket in response['Buckets']:
        if match:
            if match in bucket["Name"]:
                print(f'  {bucket["Name"]}')

In [14]:
def list_bucket_contents(bucket, match='', size_mb=0):
    bucket_resource = s3_resource.Bucket(bucket)
    total_size_gb = 0
    total_files = 0
    match_size_gb = 0
    match_files = 0
    for key in bucket_resource.objects.all():
        key_size_mb = key.size/1024/1024
        total_size_gb += key_size_mb
        total_files += 1
        list_check = False
        if not match:
            list_check = True
        elif match in key.key:
            list_check = True
        if list_check and not size_mb:
            match_files += 1
            match_size_gb += key_size_mb
            print(f'{key.key} ({key_size_mb:3.0f}MB)')
        elif list_check and key_size_mb <= size_mb:
            match_files += 1
            match_size_gb += key_size_mb
            print(f'{key.key} ({key_size_mb:3.0f}MB)')

    if match:
        print(f'Matched file size is {match_size_gb/1024:3.1f}GB with {match_files} files')            
    
    print(f'Bucket {bucket} total size is {total_size_gb/1024:3.1f}GB with {total_files} files')

In [17]:
list_bucket_contents(bucket='nyc-tlc', match='2019')

trip data/fhv_tripdata_2019-01.csv (1242MB)
trip data/fhv_tripdata_2019-02.csv ( 93MB)
trip data/fhv_tripdata_2019-03.csv ( 72MB)
trip data/fhv_tripdata_2019-04.csv (104MB)
trip data/fhv_tripdata_2019-05.csv (111MB)
trip data/fhv_tripdata_2019-06.csv (107MB)
trip data/fhv_tripdata_2019-07.csv (103MB)
trip data/fhv_tripdata_2019-08.csv ( 99MB)
trip data/fhv_tripdata_2019-09.csv ( 56MB)
trip data/fhv_tripdata_2019-10.csv ( 98MB)
trip data/fhv_tripdata_2019-11.csv ( 88MB)
trip data/fhv_tripdata_2019-12.csv ( 95MB)
trip data/fhvhv_tripdata_2019-02.csv (1221MB)
trip data/fhvhv_tripdata_2019-03.csv (1444MB)
trip data/fhvhv_tripdata_2019-04.csv (1315MB)
trip data/fhvhv_tripdata_2019-05.csv (1351MB)
trip data/fhvhv_tripdata_2019-06.csv (1270MB)
trip data/fhvhv_tripdata_2019-07.csv (1228MB)
trip data/fhvhv_tripdata_2019-08.csv (1217MB)
trip data/fhvhv_tripdata_2019-09.csv (1214MB)
trip data/fhvhv_tripdata_2019-10.csv (1280MB)
trip data/fhvhv_tripdata_2019-11.csv (1308MB)
trip data/fhvhv_tripdata_2019-12.csv (1344MB)
trip data/green_tripdata_2019-01.csv ( 55MB)
trip data/green_tripdata_2019-02.csv ( 50MB)
trip data/green_tripdata_2019-03.csv ( 53MB)
trip data/green_tripdata_2019-04.csv ( 45MB)
trip data/green_tripdata_2019-05.csv ( 44MB)
trip data/green_tripdata_2019-06.csv ( 41MB)
trip data/green_tripdata_2019-07.csv ( 41MB)
trip data/green_tripdata_2019-08.csv ( 39MB)
trip data/green_tripdata_2019-09.csv ( 39MB)
trip data/green_tripdata_2019-10.csv ( 42MB)
trip data/green_tripdata_2019-11.csv ( 39MB)
trip data/green_tripdata_2019-12.csv ( 39MB)
trip data/yellow_tripdata_2019-01.csv (655MB)
trip data/yellow_tripdata_2019-02.csv (620MB)
trip data/yellow_tripdata_2019-03.csv (693MB)
trip data/yellow_tripdata_2019-04.csv (657MB)
trip data/yellow_tripdata_2019-05.csv (669MB)
trip data/yellow_tripdata_2019-06.csv (614MB)
trip data/yellow_tripdata_2019-07.csv (557MB)
trip data/yellow_tripdata_2019-08.csv (536MB)
trip data/yellow_tripdata_2019-09.csv (581MB)
trip data/yellow_tripdata_2019-10.csv (638MB)
trip data/yellow_tripdata_2019-11.csv (608MB)
trip data/yellow_tripdata_2019-12.csv (610MB)
Matched file size is 23.9GB with 47 files
Bucket nyc-tlc total size is 297.1GB with 298 files

In [16]:
def preview_csv_dataset(bucket, key, rows=10):
    data_source = {
            'Bucket': bucket,
            'Key': key
        }
    # Generate the URL to get Key from Bucket
    url = s3.generate_presigned_url(
        ClientMethod = 'get_object',
        Params = data_source
    )

    data = pd.read_csv(url, nrows=rows)
    return data

In [24]:
df = preview_csv_dataset(bucket='nyc-tlc', key='trip data/yellow_tripdata_2019-01.csv', rows=100)
df.head(10)

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,1,2019-01-01 00:46:40,2019-01-01 00:53:20,1,1.5,1,N,151,239,1,7.0,0.5,0.5,1.65,0.00,0.3,9.95,NaN
1,1,2019-01-01 00:59:47,2019-01-01 01:18:59,1,2.6,1,N,239,246,1,14.0,0.5,0.5,1.00,0.00,0.3,16.30,NaN
2,2,2018-12-21 13:48:30,2018-12-21 13:52:40,3,0.0,1,N,236,236,1,4.5,0.5,0.5,0.00,0.00,0.3,5.80,NaN
3,2,2018-11-28 15:52:25,2018-11-28 15:55:45,5,0.0,1,N,193,193,2,3.5,0.5,0.5,0.00,0.00,0.3,7.55,NaN
4,2,2018-11-28 15:56:57,2018-11-28 15:58:33,5,0.0,2,N,193,193,2,52.0,0.0,0.5,0.00,0.00,0.3,55.55,NaN
5,2,2018-11-28 16:25:49,2018-11-28 16:28:26,5,0.0,1,N,193,193,2,3.5,0.5,0.5,0.00,5.76,0.3,13.31,NaN
6,2,2018-11-28 16:29:37,2018-11-28 16:33:43,5,0.0,2,N,193,193,2,52.0,0.0,0.5,0.00,0.00,0.3,55.55,NaN
7,1,2019-01-01 00:21:28,2019-01-01 00:28:37,1,1.3,1,N,163,229,1,6.5,0.5,0.5,1.25,0.00,0.3,9.05,NaN
8,1,2019-01-01 00:32:01,2019-01-01 00:45:39,1,3.7,1,N,229,7,1,13.5,0.5,0.5,3.70,0.00,0.3,18.50,NaN
9,1,2019-01-01 00:57:32,2019-01-01 01:09:32,2,2.1,1,N,141,234,1,10.0,0.5,0.5,1.70,0.00,0.3,13.00,NaN