## Import taxi_clean

In [3]:
import warnings
warnings.simplefilter("ignore")

import pandas as pd
import matplotlib as plt
import numpy as np
import time
from sklearn.tree import DecisionTreeRegressor
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error
from sklearn.metrics import accuracy_score

#import data 
data = pd.read_csv("taxi_clean_med.csv")

#display data
print(data.shape)
      
data.head()

(8050, 19)

,trip_distance,fare_amount,winter,spring,summer,fall,PULongitude,PULatitude,DOLongitude,DOLatitude,pickup_datetime,dropoff_datetime,ride_duration,Early morning,Morning,Afternoon,Night,Holiday Proximity,label
0,1.1,7.0,0,1,0,0,-73.984176,40.759845,-73.972145,40.756816,2019-04-29 07:55:30,2019-04-29 08:03:39,0 days 00:08:09.000000000,0,1,0,0,0,B
1,2.6,12.0,0,0,1,0,-73.992455,40.748476,-74.008386,40.735248,2019-08-31 14:26:37,2019-08-31 14:42:27,0 days 00:15:50.000000000,0,0,1,0,0,D
2,1.2,5.5,0,0,1,0,-73.965174,40.756589,-73.951208,40.778496,2019-07-07 17:53:54,2019-07-07 17:57:55,0 days 00:04:01.000000000,0,0,1,0,0,B
3,1.9,10.5,0,1,0,0,-73.987973,40.775770,-73.978367,40.764425,2019-04-30 14:45:33,2019-04-30 14:58:43,0 days 00:13:10.000000000,0,0,1,0,0,D
4,1.0,5.5,0,0,0,1,-73.985214,40.727944,-73.976942,40.747654,2019-09-15 01:52:45,2019-09-15 01:57:18,0 days 00:04:33.000000000,1,0,0,0,0,B

In [4]:
data['pickup_datetime'] = pd.to_datetime(data['pickup_datetime'])
data['pickup_datetime'] = pd.to_numeric(data['pickup_datetime'])
data['dropoff_datetime'] = pd.to_datetime(data['dropoff_datetime'])
data['dropoff_datetime'] = pd.to_numeric(data['dropoff_datetime'])

data['ride_duration'] = data['dropoff_datetime'] - data['pickup_datetime']

data.fillna(0, inplace= True)
print (data.dtypes)
data.head()

trip_distance        float64
fare_amount          float64
winter                 int64
spring                 int64
summer                 int64
fall                   int64
PULongitude          float64
PULatitude           float64
DOLongitude          float64
DOLatitude           float64
pickup_datetime        int64
dropoff_datetime       int64
ride_duration          int64
Early morning          int64
Morning                int64
Afternoon              int64
Night                  int64
Holiday Proximity      int64
label                 object
dtype: object

,trip_distance,fare_amount,winter,spring,summer,fall,PULongitude,PULatitude,DOLongitude,DOLatitude,pickup_datetime,dropoff_datetime,ride_duration,Early morning,Morning,Afternoon,Night,Holiday Proximity,label
0,1.1,7.0,0,1,0,0,-73.984176,40.759845,-73.972145,40.756816,1556524530000000000,1556525019000000000,489000000000,0,1,0,0,0,B
1,2.6,12.0,0,0,1,0,-73.992455,40.748476,-74.008386,40.735248,1567261597000000000,1567262547000000000,950000000000,0,0,1,0,0,D
2,1.2,5.5,0,0,1,0,-73.965174,40.756589,-73.951208,40.778496,1562522034000000000,1562522275000000000,241000000000,0,0,1,0,0,B
3,1.9,10.5,0,1,0,0,-73.987973,40.775770,-73.978367,40.764425,1556635533000000000,1556636323000000000,790000000000,0,0,1,0,0,D
4,1.0,5.5,0,0,0,1,-73.985214,40.727944,-73.976942,40.747654,1568512365000000000,1568512638000000000,273000000000,1,0,0,0,0,B

## Base Model (rate x distance) and its RMSE

In [5]:
train, test = train_test_split(data, test_size=0.33, random_state=42)
import numpy as np

rate = data['fare_amount'].mean() / data['trip_distance'].mean()

def compute_rmse(actual, predicted):
  return np.sqrt(np.mean((actual - predicted)**2))

def print_rmse(taxi, rate, name):
  print("RMSE = {}".format(compute_rmse(taxi['fare_amount'], rate * taxi['trip_distance'])), name)
  
print("Rate = ${}/miles".format(rate))
print_rmse(train, rate, 'Train')
print_rmse(test, rate, 'Test')

Rate = $4.325099664913982/miles
RMSE = 6.690599649811109 Train
RMSE = 6.680223799810739 Test

## Random Forest

In [33]:
y = data['fare_amount']
X = data.drop(columns=['fare_amount','label'])
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

random_forest = RandomForestRegressor(n_estimators=200, max_depth=5, max_features= 4, random_state=42)
random_forest.fit(X_train, y_train)
y_pred = random_forest.predict(X_test)

print("Test RMSE: ", mean_squared_error(y_test, y_pred) ** 0.5)
print('Accuracy Score for Training data',random_forest.score(X_train,y_train))

Test RMSE:  2.7923104140678685
Accuracy Score for Training data 0.9457769199818316

## Decision Trees

In [34]:
decision_tree = DecisionTreeRegressor(max_depth=5, max_features= 4, random_state=42)
decision_tree.fit(X_train, y_train)
y_pred1 = decision_tree.predict(X_test)

print("Test RMSE: ", mean_squared_error(y_test, y_pred1) ** 0.5)
print('Accuracy Score for Training data',decision_tree.score(X_train,y_train))

Test RMSE:  4.400659297998203
Accuracy Score for Training data 0.8533316106605981